---
import "@styles/config.css";
import "@styles/default.css";
import "@styles/layout.css";

import Layout from "@layouts/Layout.astro";

// microCMS呼び出し
import { Blog, getBlogs } from "@lib/microcms";
import { format, parseISO } from "date-fns";
// import type { GetStaticPathsOptions } from "astro";

// updatedAt は下書きの更新も含まれるため、下書きを考慮しない revisedAt を使用
const response = await getBlogs({
  fields: ["id", "title", "revisedAt"],
});

console.log(response.contents);

// 記事を降順に並び替え
const sortedBlog = response.contents.sort(
  (a: Blog, b: Blog) => new Date(b.revisedAt).getTime() - new Date(a.revisedAt).getTime(),
);

// ISO 8601形式の日付文字列を変換
const formattedDate = (ISO: string): string => format(parseISO(ISO), "yyyy-MM-dd HH:mm");
---

<Layout>
  {
    sortedBlog.map((content: any) => (
      <div class="my-4">
        <a href={`/blog/${content.id}`} class="cursor-pointer no-underline">
          <div class="pb-1 text-base">{content.title}</div>
          <div class="text-xs">{formattedDate(content.revisedAt)}</div>
        </a>
      </div>
    ))
  }
</Layout>
