---
import Layout from "@layouts/layout.astro";
---

<Layout>
  <h1
    class="bg-gradient-to-r from-yellow-400 to-rose-500 bg-clip-text text-8xl font-bold leading-normal text-transparent"
  >
    H A C K L O G .
  </h1>
</Layout>
