---
---

<header>
  <nav>
    <a rel="prefetch" href="/">
      <img src="/logo.svg" alt="" width="28" height="28" />
      H A C K L O G .
    </a>
    <ul>
      <li><a rel="prefetch" href="/blog/category/javascript">Frontend</a></li>
      <li><a rel="prefetch" href="/blog/category/python">Backend</a></li>
      <li><a rel="prefetch" href="/blog/category/devops">DevOps</a></li>
      <li><a rel="prefetch" href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
