---
---

<div class="">
  <ul class="w-30 menu bg-base-100">
    <li class="mx-0"><a class="no-underline" href="/">Home</a></li>
    <li><a class="no-underline" href="/blog">Blog</a></li>
    <li><a class="no-underline" href="/zenn">Zenn</a></li>
    <!-- <li><a class="no-underline" href="https://github.com/Cloud-Xero" target="_blank">GitHub</a></li> -->
    <li><a class="no-underline" href="/contact">Contanct</a></li>
  </ul>
</div>
