---
---

<div class="">
  <ul class="w-30 menu bg-base-100">
    <li class="mx-0"><a class="no-underline" href="/">Home</a></li>
    <li><a class="no-underline" href="">GitHub</a></li>
    <li><a class="no-underline" href="/contact">Contanct</a></li>
    <div class="divider my-5 px-3 text-xs">Blog</div>
    <li><a class="no-underline" href="/frontend">Frontend</a></li>
    <li><a class="no-underline" href="/backend">Backend</a></li>
    <li><a class="no-underline" href="/devops">DevOps</a></li>
  </ul>
</div>
